[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupiterlab = "*"
jupyterlab = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
shell = "*"
seaborn = "*"
tensorflow = "*"
keras = "*"
jupyter = "*"
pipfile = "*"

[requires]
python_version = "3.7"
